@using OCineplex.Common
@model OCineplex.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!";
}

        <div class="text-center">
            <h1 class="display-4">@this.ViewData["Title"]</h1>           
        </div>
        <div class="container">
            <div class="row">
                @foreach (var movie in Model.Movies)
                {                  
                        <div class="col-md-4 card m-md-4" style="width: 18rem;">
                            <img src="@movie.ImageUrl" class="card-img-top" alt="@movie.ImageUrl">
                            <div class="card-body">
                                <h5 class="card-title">@movie.Title</h5>
                                <p class="card-text">@movie.Director</p>
                                <a href="@movie.Url" class="btn btn-primary">See movie</a>
                            </div>
                        </div>
                   
                }
            </div>
        </div>

